@font-face {
    font-family: 'MinhaFonte';
    src: url('/styles/PixelifySans-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 0px;
}

* {
    padding: 0;
    border: none;
    margin: 0;
    outline: 0;
    font-family: MinhaFonte;
    box-sizing: border-box;
    border-radius: 10px;
}

:root {
    --cor--principal: #17585e;
    --cor--secundaria: #184756;
    --cor--borda: #000;
    --cor--fonte--principal: #1dc9d9;
}

input::placeholder, textarea::placeholder {
    color: var(--cor--fonte--principal);
    line-height: 40px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #011617;
}

h3 {
    width: 90%;
    color: var(--cor--secundaria);
    position: relative;
    top: 3vh;
}

.div--principal {
    margin-top: 5vh;
    background-color: var(--cor--principal);
    width: 90%;
    height: 80vh;
    border: 2px solid var(--cor--borda);
}

header {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    background-color: var(--cor--secundaria);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: var(--cor--fonte--principal);
}

header div {
    width: 40%;
    display: flex;
    flex-direction: row;
}

#input--selecionar--categoria {
    padding: 2%;
    color: var(--cor--fonte--principal);
    background-color: var(--cor--secundaria);
}

#btn--selecionar--categoria {
    padding: 5px;
    background-color: var(--cor--fonte--principal);
    color: var(--cor--secundaria);
}


.divDasNotas {
    overflow-y: scroll;
}

.divDasCategorias {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #000;
    margin-top: 1vh;
}

#nota--apresentacao {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

#local--notas {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nota {
    background-color: var(--cor--secundaria);
    color: var(--cor--fonte--principal);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    min-width: 297px;
    border-radius: 10px;
}

.btn--apresentacao {
    display: flex;
    justify-content: right;
    width: 90%;
}

.div--botoes--principal {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.div--botoes {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

textarea {
    width: 80%;
    height: 40vh;
    margin-top: 2vh;
    background-color: var(--cor--secundaria);
    color: var(--cor--fonte--principal);
    outline: none;
}
